.container-covidGlobal {
  display: flex;
  width: 100%;
  margin: auto;
  padding-bottom: 25px;
}
.covid-content-global {
  flex-direction: column;
  display: flex;
  width: 85%;
  margin: auto;
  row-gap: 25px;
}
.covid-content-global h3 {
  position: relative;
  display: flex;
  margin: auto;
  font-size: 28px;
  font-weight: 600;
}
.covid-content-global h3:after {
  position: absolute;
  content: '';
  height: 1px;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 100%;
  background: black;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.covid-content-global table {
  margin: auto;
}
.filter {
  width: 200px;
  margin: auto;
  padding: 5px 35px;
  font-size: 10px;
}

.dangerCase {
  color: red;
}
.normalCase {
  color: green;
}
.dangerDeaths {
  color: red;
}
.normalDeaths {
  color: green;
}

.keterangan-global {
  display: flex;
  justify-content: space-between;
  padding: 0 165px;
  font-size: 12px;
}
.ket-gob {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.red-strip {
  height: 4px;
  width: 30px;
  background-color: red;
}
.container-dailyCovid h1 {
  font-size: 30px;
}

@media screen and (max-width: 720px) {
  .covid-content-global h3 {
    font-size: 16px;
  }
  .keterangan-global {
    padding: 0;
  }
  .ket-gob p {
    font-size: 8px;
  }
  th {
    font-size: 11px;
  }
  td {
    font-size: 10px;
  }
}
