nav {
  position: relative;
  margin-bottom: 83px;
}
.navbar-me {
  top: 0;
  width: 100%;
  background-color: white;
  position: fixed;
  border: 1px solid black;
  z-index: 3;
}
.container-navbar {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}

.logo img {
  width: 60px;
}
.link {
  display: flex;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: black;
}
.link::after {
  position: absolute;
  content: '';
  height: 1px;
  bottom: -4px;

  left: 0;
  right: 0;
  width: 0;
  background: black;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link:hover::after {
  width: 100%;
}

.navigasi ul {
  position: relative;
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 35px;
}
.mobileLinkNav {
  display: none;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 720px) {
  .link {
    display: none;
  }
  .hamburger {
    display: flex;
    position: relative;
    font-size: 24px;
    z-index: 99;
    color: black;
    transition: 1s;
    opacity: 1;
  }

  .exitButton {
    position: absolute;
    font-size: 20px;
    right: 40px;
    top: 31px;
    color: black;
    transition-delay: 1s;
    transition: 1s;
    opacity: 0;
  }
  .exitButton.active {
    opacity: 1;
  }

  .noneHmbrg {
    transition: 1s;
    opacity: 0;
  }

  .navbarMobile {
    display: flex;
    width: 100%;
    height: 30vh;
    position: fixed;
    z-index: 10;
    background-color: white;
    /* background-color: black; */
    border-bottom: 1px solid black;
    top: -240px;
    transition: 0.9s;
    justify-content: center;
    align-items: center;
  }
  .navbarMobile.active {
    transition: 1s;
    top: 0;
  }
  .mobileLinkNav {
    display: flex;
    flex-direction: column;

    margin: auto;
    text-align: center;
    row-gap: 5px;
  }
  .mobileLinkNav li {
    list-style-type: none;
  }
  .mobileLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
}
